/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
public/vendor
public/assets
resources/views
resources/lang
resources/js
/github
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
